*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    background: #1d1d1d;
    color: #ffffff;
}
.cta-button {
    text-decoration: none;
    background-color: rgb(64, 246, 64);
    border-radius: 15px;
    box-shadow: 3px 5px 3px #225ae8;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 1s ease-in-out;
    z-index: 999;
    
}
.cta-button:hover {
    transform: scale(1);
    background-color: #225ae8;
    color: rgb(64, 246, 64);
}
.cta-button img {
    width: 32px;
}
h1, h2, h3 {
    text-shadow: 1px 3px 1px #225ae8;
}
h1, h2, h3, header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    background-color: #225ae8;
    padding: 10px 4%;
    font-size: 1.5rem;
    align-items: center;
}
header .logo img {
    max-width: 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
nav a:hover {
    color: rgb(64, 246, 64);

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: url(./assets/banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative; /* importante para que o ::before funcione */
    z-index: 0;
}
.hero h1, .hero img, .hero p, .hero .cta-button {
    z-index: 2;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    z-index: 1;
}

.hero h1 {
    font-size: 6rem;
}
.hero p {
    font-size: 3rem;
    text-shadow: 1px 3px 1px #225ae8;
}
.hero img {
    max-width: 400px;
}
.hero .cta-button {
    font-size: 2rem;
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 20px;

}

.sobre-container {
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;

}
.sobre-text {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

}
.sobre-text h2 {
    font-size: 4rem;
}
.sobre-text p {
    font-size: 1.5rem;
}
.sobre img {
    max-width: 400px;
    box-shadow: 3px 5px 3px #225ae8;
    border-radius: 15px;
}
.sobre .cta-button {
    max-width: fit-content;
    margin: 0 auto;
    font-size: 2rem;
    align-items: center;
}



.services{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: azure;

}
.service-item-text {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service-item-text .cta-button {
    width: fit-content;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 28px;
}
.services-text {
    color: #000;
    

}
.services-text h2 {
    font-size: 4rem;
}
.services-text p {
    font-size: 1.5rem;
}
.services-itens {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.service-item {
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    border-radius: 15px;
    box-shadow: 3px 5px 3px #225ae8;
    display: flex;

}
.service-item img {
    max-width: 200px;
    width: 100%;
}
.service-item h3 {
    font-size: 3rem;
}
.service-item p {
    font-size: 1.4rem;
    line-height: 1;
}

.services-fotos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.foto img {
    max-width: 200px;
    border-radius: 12px;
    box-shadow: 3px 5px 3px #1d1d1d;
}


.services-cta {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 20px;
    gap: 1.5rem;
    border-radius: 15px;
    box-shadow: 3px 5px 3px #225ae8;
    text-align: center;
}
.services-cta h2 {
    font-size: 4rem;
}
.services-cta p {
    font-size: 1.8rem;
}
.services-cta .cta-button {
    font-size: 2rem;
    max-width: fit-content;
    margin: 0 auto;
}


.avaliacoes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    display: none;
}
.avaliacoes h2 {
    font-size: 3.5rem;
}



/* FAQ Styles */
.faq {
  padding: 40px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.faq h2 {
  font-size: 2.6rem;
  margin-bottom: 20px;
  color: #333;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.faq-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.faq-question {
  width: 100%;
  padding: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #1d1d1d;
  border: none;
  cursor: pointer;
  text-align: left;
  color: #225ae8;
  border-radius: 12px;
}

.faq-answer {
  padding: 15px;
  display: none;
  background-color: #225ae8;
  color: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}




.contato {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
    text-align: center;
    background-image: url(./assets/banner.jpg);
    background-position: 75%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative; /* importante para que o ::before funcione */
    z-index: 0;
    background-attachment: fixed;
}
.contato h2, .contato .cta-button {
    z-index: 2;
}
.contato::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    z-index: 1;
}
.contato h2 {
    font-size: 4rem;
}
.contato .cta-button {
    font-size: 2rem;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
    background-color: #225ae8;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer img {
    max-width: 200px;
}
footer a {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}
footer h3 {
    font-size: 2rem;
}
footer p {
    font-size: 1.4rem;
    line-height: 1;
}

.btn-whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
}
.btn-whatsapp img {
  max-width: 60px;
  transition: 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 250px;
  top: 10px;
  left: -264px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(64, 246, 64);
  color: #FFF;
  opacity: 0;
  transition: opacity 0.4s;
  font-family: 'Poppins', sans-serif;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1020px){
    header {
        align-items: center;
        justify-content: center;
    }
    nav {
        display: none;
    }
    .hero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 20px;
        background-position: 73%;
    }
    .hero h1 {
        font-size: 3.2rem;
        line-height: 1;
    }
    .hero img {
        max-width: 400px;
        width: 95%;
    }
    .hero p {
        font-size: 1.4rem;
        line-height: 1;
    }
    .hero .cta-button {
        font-size: 1.6rem;
    }

    .sobre {
        display: flex;
        flex-direction: column;

    }
    .sobre-container {
        flex-direction: column;
    }
    .sobre-text {
        gap: 1rem;
    }
    .sobre-text h2 {
        font-size: 2.3rem;
        line-height: 1.1;
    }
    .sobre-text p {
        font-size: 1.3rem;
        line-height: 1;

    }
    .sobre-container img {
        max-width: 300px;
        margin: 0 auto;
    }
    .sobre .cta-button {
        font-size: 1.4rem;
        flex-wrap: nowrap;
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    .services-text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .services h2 {  
        text-align: center;
        font-size: 2.6rem;
        line-height: 1;
    }
    .services-text p {
        font-size: 1.4rem;
        line-height: 1;
        text-align: center;
    }
    .services-itens {
        display: flex;
        flex-direction: column;
    }
    .service-item {
        max-width: 390px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
    }
    .service-item img {
        margin: 0 auto;
        max-width: 360px;
        height: 300px;
        border-radius: 12px;
        box-shadow: 3px 5px 3px #225ae8;
        transition: 0.5s ease;
    }
    .service-item img:hover {
        transform: scale(1.05);
    }
    .service-item-text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .service-item .cta-button {
        font-size: 1.3rem;
        text-align: center;
        padding: 15px;
    }
    .fotos {
        display: flex;
        flex-wrap: wrap;
    }
    .foto img {
        max-width: 200px;
        width: 150px;
    }
    .foto img:hover {
        transform: scale(1.06);
    }
    .services-cta h2 {
        font-size: 2rem;
    }
    .services-cta p {
        font-size: 1.6rem;
        line-height: 1.1;
    }
    .services-cta .cta-button {
        font-size: 1.4rem;
        padding: 15px;
    }

    .avaliacoes h2 {
        font-size: 2.3rem;
        text-align: center;
        line-height: 1;
    }
    

    .contato h2 {
        font-size: 2.5rem;
        line-height: 1;
    }
    .contato .cta-button {
        font-size: 1.8rem;
        padding: 15px;
        text-transform: uppercase;
    }

    .faq h2 {
        font-size: 2.3rem;
    }

    footer h3 {
        font-size: 2rem;
    }
    footer p {
        font-size: 1.4rem;
        line-height: 1;
    }
    footer a {
        color: #ffffff;
        font-family: 'Bebas Neue', sans-serif;
        text-decoration: none;
        font-size: 1.5rem;
    }

}